.perceptions {
  .container-lg {
    max-width: 1440px;
    padding-left: 0;
    padding-right: 0;
  }
  padding-top: 32px;
  .card {
    border: none;
    border-radius: 0;
    box-shadow: 0 6px 10px 0 rgba($color: #000000, $alpha: 0.2);

    img {
      border-radius: 0;
    }
    .card-body {
      .card-title {
        @include fontText($primary-text, $fs-8, $fw-1);
      }
    }
  }
}

@include responsive("small") {
  #carouselExampleControls {
    .carousel-inner {
      box-shadow: 0 0 0 0 transparent, 0 10px 10px 0 rgb(0 0 0 / 10%);
    }
  }
  .carousel-indicators {
    align-items: center;
    bottom: -70px;
    li {
      background-color: #6e6e6e;
      &.active {
        background-color: $primary-text;
      }
    }
  }
  .carousel-control-next,
  .carousel-control-prev {
    opacity: 1;
    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 10%), 0 20px 20px 0 rgb(0 0 0 / 10%),
      0 30px 30px 0 rgb(0 0 0 / 15%);
  }

  .carousel-sub-arrow {
    height: 40px;
    width: 40px;
    background-color: $primary-text;
    color: $white;
    line-height: 40px;
  }
}
